* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eee;
}

h1 {
    margin-right: 20vh;
}

.container {
    display: flex;
    justify-content: row; 
    padding: 20px;
    margin-bottom: 50px;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    text-align: center;
}

.image {
    display: flex;
}

.vertical {
    writing-mode: vertical-rl;
}

img {
    width: 100%;
    border-radius: 10px;
}


.member:nth-child(even) {
    margin-top: 10vh;
}

@media only screen and (max-width: 1100px) { 
    .container1 {
        flex-direction: row;
        margin: 3%;
        flex-wrap: wrap;
    }

    h1 {
        margin-right: 5%;
    }
    /* .member:nth-child(even) {
        border: 10px solid blue;
    } */

    .member:nth-child(even) {
        margin-top: 40px;
    }

    .do {
        display: flex;
        flex-direction: column;
    }

    
}

@media only screen and (max-width: 900px) {
    .member {
        width: 48%; 
    }
}

@media only screen and (max-width: 600px) {
    .container1 {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 60%;
        margin-left: 11vh;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-bottom: 3vh;
    }

    .member {
        width: 100%; 
    }
}

